<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="post-wrapper">
        <div class="post clearfix">
          <h1 class="post"> <%= @post.title %> </h1>
          <div class="details-publication-show">
            Publicado por " <%= @post.user.email %> " hace <%= time_ago_in_words(@post.created_at) %>
          </div>
          <div>
             <span class="post-body-show"><%= @post.body %></span>
          </div>
          <br><br>
        </div>
      </div>   <!-- end post-wrapper -->
    </div>
  </div>
</div>
