.post-wrapper{

  .post{


      .posts-details {
        float: left;

          .post-title a {
            color: #303030;
            font-size: 21px;
            font-weight: bold;
            line-height: 1;

              &:hover, &:focus { color: #F04500; text-decoration: none; }
            }

          .details-publication{
            color: #999;
            margin-top: 10px;
            margin-bottom: 15px;
          }

          .post-body {
            display: block;
            font-size: 16px;
            text-align: justify;
          }
      }
  }
}
