.post-wrapper{

  .post{

    padding: 15px 10px;
    border-radius: 5px;
      .posts-details {
        float: left;

          .post-title a {
            color: #303030;
            font-size: 21px;
            line-height: 1;

              &:hover, &:focus { color: #F04500; text-decoration: none; }
            }

          .post-body {
            display: block;
            color: #999;
            font-size: 16px;
            text-align: justify;
          }
      }
  }
}
